.pokemons{
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}



.pokemon{
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.pokemon .number{
  color: #000;
  opacity: .3;
  text-align: right;
}

.pokemon .name{
  color: #fff;
  margin-bottom: .24rem;
  text-transform: capitalize;
}

.pokemon .detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types{
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .type{
  color: #fff;
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .625rem;
  border-radius: 1rem;
  text-align: center;
  filter: brightness(1.1);
}

.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;

  button{
    font-size: .825rem;
    margin: .23rem 0;
    padding: .25rem .5rem;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
  }
}

.infoContentPokemon{
  display: flex;
  width: 35%;
  height: 70%;
  background-color: #678fee;
  z-index: 1;
  position: absolute;
  top: 10%;
  right: 35%;
  border-radius: 3rem;
  justify-content: space-evenly;
}


.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.infoHead {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  height: fit-content;
  position: relative; 
  width: 50%; 
}

.infoHead .InfoNumber{
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.2em;
  color: #fff;
  opacity: .7;
}

.InfoNames{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: auto;
  margin: 2rem 2rem 1rem 2rem;
}

.infoHead .InfoNames h3 {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.8em;
  text-align: start;
}

.infoHead .InfoNames .type {
  display: inline-block;
  margin-top: 0.5rem;
  padding: .60rem 1.1rem;
  background-color: #6c79db;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1em;
}

.infoImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 14rem;
  margin: 2rem 0 0 0;
}

.infoImage img{
  z-index: 2;
}

.infoMainPokemon{
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #a7a7a7;
  height: 65%;
  width: 100%;
  bottom: 0;
  border-radius: 3rem;
}