.pokemons{
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
}

/* Background colors */
#normal { background-color: rgba(166, 168, 119, 0.100); }
#grass { background-color: rgba(30, 255, 0, 0.100); }
#fire { background-color: rgba(238, 127, 48, 0.100); }
#water { background-color: rgba(103, 143, 238, 0.100); }
#electric { background-color: rgba(247, 207, 46, 0.100); }
#ice { background-color: rgba(152, 213, 215, 0.100); }
#ground { background-color: rgba(223, 191, 105, 0.100); }
#flying { background-color: rgba(169, 143, 240, 0.100); }
#poison { background-color: rgba(160, 64, 160, 0.100); }
#fighting { background-color: rgba(191, 48, 41, 0.100); }
#psychic { background-color: rgba(246, 86, 135, 0.100); }
#dark { background-color: rgba(114, 88, 71, 0.100); }
#rock { background-color: rgba(184, 161, 55, 0.100); }
#bug { background-color: rgba(168, 183, 32, 0.100); }
#ghost { background-color: rgba(110, 88, 150, 0.100); }
#steel { background-color: rgba(185, 183, 207, 0.100); }
#dragon { background-color: rgba(111, 56, 246, 0.100); }
#fairy { background-color: rgba(249, 174, 199, 0.100); }

/* Type colors */
.normal { --type-color: rgba(166, 168, 119, 0.95); }
.grass { --type-color: rgba(30, 255, 0, 0.95); }
.fire { --type-color: rgba(255, 0, 0, 0.95); }
.water { --type-color: rgba(103, 143, 238, 0.95); }
.electric { --type-color: rgba(247, 207, 46, 0.95); }
.ice { --type-color: rgba(152, 213, 215, 0.95); }
.ground { --type-color: rgba(223, 191, 105, 0.95); }
.flying { --type-color: rgba(169, 143, 240, 0.95); }
.poison { --type-color: rgba(160, 64, 160, 0.95); }
.fighting { --type-color: rgba(191, 48, 41, 0.95); }
.psychic { --type-color: rgba(246, 86, 135, 0.95); }
.dark { --type-color: rgba(114, 88, 71, 0.95); }
.rock { --type-color: rgba(184, 161, 55, 0.95); }
.bug { --type-color: rgba(168, 183, 32, 0.95); }
.ghost { --type-color: rgba(110, 88, 150, 0.95); }
.steel { --type-color: rgba(185, 183, 207, 0.95); }
.dragon { --type-color: rgba(111, 56, 246, 0.95); }
.fairy { --type-color: rgba(249, 174, 199, 0.95); }

.imageFilter {
  filter: drop-shadow(8px 8px 70px var(--type-color));
}

.imageFilter img{
  width: 90%;
  height: 90%;
}

.pokemon{
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ffffff38;
  cursor: pointer;
}

.pokemon .number{
  color: #ffffff;
  opacity: .5;
  text-align: right;
}

.pokemon .name{
  color: #fff;
  margin-bottom: .24rem;
  text-transform: capitalize;
}

.pokemon .detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types{
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .type{
  color: #fff;
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .625rem;
  border-radius: 1rem;
  text-align: center;
  filter: brightness(2);
  border: 1px solid var(--type-color);
  background-color: transparent;
  color: var(--type-color);
}

.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;

  button{
    font-size: .825rem;
    margin: .23rem 0;
    padding: .6rem .6rem;
    background-color: #6c79db36;
    border: .5px solid #ffffff2d;
    border-radius: 1rem;
    color: white;
  }

  button:hover{
    background-color: #6c79dba1;
    border: .5px solid #ffffff;
    cursor: pointer;
    transition: all .3s ease;
  }
}


.infoContent{
  display: none;
  width: 35%;
  height: 70%;
  position: absolute;
  top: 10%;
  right: 35%;
  border-radius: 3rem;
  justify-content: space-evenly;
  background-color: rgba(5, 5, 10, 1.000); 
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.09); 
}

.infoContent.active{
  display: flex;
}


.infoContentPokemon{
  width: 100%;
  height: 100%;
}

.infoHead {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  height: fit-content;
  position: relative; 
  width: 100%; 
}

.infoHead .InfoNumber{
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.2em;
  color: #fff;
  opacity: .7;
}

.InfoNames{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: auto;
  margin: 2rem 2rem 1rem 2rem;
}

.infoHead .InfoNames h3 {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.8em;
  text-align: start;
}

.infoHead .InfoNames .type {
  display: inline-block;
  margin-top: 0.5rem;
  padding: .60rem 1.1rem;
  background-color: transparent;
  color: var(--type-color);
  border-radius: 0.5rem;
  font-size: 1em;
  text-transform: capitalize;
  border: 1px solid var(--type-color);
  border-radius: 2rem;
}

.infoImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 14rem;
  margin: 2rem 0 0 0;
  z-index: 2;
}

.infoMainPokemon{
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: transparent;
  height: 65%;
  width: 100%;
  bottom: 0;
  border-radius: 3rem;
  /* https://grabient.com/HQBgrAzANKAsAcMT0cAjLAnDNYDsOsATDEUSKWicGWlBMHmtA3kS8AGyYRA/HQBgrAzANKAsAcMT0cAjLAnDNYDsOsATDEUSKWicGWlBMHmtA3kS8AGybQVqgg6-ECKgggA?style=linearSwatches&steps=34&angle=180 */

  background: linear-gradient(180deg, rgba(5, 5, 10, 1.000) 0.000%, rgba(5, 5, 10, 1.000) 2.941%, rgba(6, 7, 11, 1.000) 2.941%, rgba(6, 7, 11, 1.000) 5.882%, rgba(8, 9, 13, 1.000) 5.882%, rgba(8, 9, 13, 1.000) 8.824%, rgba(9, 10, 14, 1.000) 8.824%, rgba(9, 10, 14, 1.000) 11.765%, rgba(11, 12, 16, 1.000) 11.765%, rgba(11, 12, 16, 1.000) 14.706%, rgba(13, 14, 17, 1.000) 14.706%, rgba(13, 14, 17, 1.000) 17.647%, rgba(14, 15, 19, 1.000) 17.647%, rgba(14, 15, 19, 1.000) 20.588%, rgba(16, 17, 20, 1.000) 20.588%, rgba(16, 17, 20, 1.000) 23.529%, rgba(17, 18, 22, 1.000) 23.529%, rgba(17, 18, 22, 1.000) 26.471%, rgba(19, 20, 23, 1.000) 26.471%, rgba(19, 20, 23, 1.000) 29.412%, rgba(21, 22, 25, 1.000) 29.412%, rgba(21, 22, 25, 1.000) 32.353%, rgba(22, 23, 26, 1.000) 32.353%, rgba(22, 23, 26, 1.000) 35.294%, rgba(24, 25, 28, 1.000) 35.294%, rgba(24, 25, 28, 1.000) 38.235%, rgba(25, 26, 29, 1.000) 38.235%, rgba(25, 26, 29, 1.000) 41.176%, rgba(27, 28, 31, 1.000) 41.176%, rgba(27, 28, 31, 1.000) 44.118%, rgba(28, 29, 32, 1.000) 44.118%, rgba(28, 29, 32, 1.000) 47.059%, rgba(30, 31, 34, 1.000) 47.059%, rgba(30, 31, 34, 1.000) 50.000%, rgba(31, 32, 35, 1.000) 50.000%, rgba(31, 32, 35, 1.000) 52.941%, rgba(32, 33, 37, 1.000) 52.941%, rgba(32, 33, 37, 1.000) 55.882%, rgba(34, 35, 38, 1.000) 55.882%, rgba(34, 35, 38, 1.000) 58.824%, rgba(35, 36, 39, 1.000) 58.824%, rgba(35, 36, 39, 1.000) 61.765%, rgba(36, 37, 41, 1.000) 61.765%, rgba(36, 37, 41, 1.000) 64.706%, rgba(38, 39, 42, 1.000) 64.706%, rgba(38, 39, 42, 1.000) 67.647%, rgba(39, 40, 43, 1.000) 67.647%, rgba(39, 40, 43, 1.000) 70.588%, rgba(40, 41, 44, 1.000) 70.588%, rgba(40, 41, 44, 1.000) 73.529%, rgba(41, 42, 46, 1.000) 73.529%, rgba(41, 42, 46, 1.000) 76.471%, rgba(42, 43, 47, 1.000) 76.471%, rgba(42, 43, 47, 1.000) 79.412%, rgba(43, 44, 48, 1.000) 79.412%, rgba(43, 44, 48, 1.000) 82.353%, rgba(44, 45, 49, 1.000) 82.353%, rgba(44, 45, 49, 1.000) 85.294%, rgba(45, 46, 50, 1.000) 85.294%, rgba(45, 46, 50, 1.000) 88.235%, rgba(46, 47, 51, 1.000) 88.235%, rgba(46, 47, 51, 1.000) 91.176%, rgba(47, 48, 52, 1.000) 91.176%, rgba(47, 48, 52, 1.000) 94.118%, rgba(48, 48, 53, 1.000) 94.118%, rgba(48, 48, 53, 1.000) 97.059%, rgba(48, 49, 54, 1.000) 97.059% 100.000%)
}

.infoMainPokemon .infoList{
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  padding: 2rem 2rem 0 2rem;
}

.infoMainPokemon .infoList ol li{
  color: #fff;
  list-style: none;
  font-size: 1em;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-decoration-color: #fff;
  text-decoration-thickness: 3px;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.infoAbout-content{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  margin-top: -1rem;
}

.infoAbout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 90%;
  gap: 1.5rem;
  padding: 5rem .5rem;
  list-style: none;
  color: #fff;
  text-transform: capitalize;
}

.infoAbout li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  padding: 0.1rem .5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.infoAbout li span{
  font-weight: normal;
  margin-left: 1rem;
}

.stat-item {
  flex-direction: row !important;
  align-items: center !important;
  gap: 1rem;
  padding: 0.3rem !important;
  background: transparent !important;
  padding-top: 1rem !important;
}

.stat-name {
  min-width: 5px;
  padding-right: .3rem;
}

.stat-value {
  min-width: 20px;
  font-weight: bold !important;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

#hp{
  --hp-color: rgba(51, 255, 0, 0.95);
}

#attack{
  --attack-color: rgba(255, 0, 0, 0.95);
}

input[type="range"].progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: default;
}

input[type="range"].progress::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: transparent;
}

input[type="range"].progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: var(--type-color);
  border: none;
  border-radius: 4px;
}

input[type="range"].progress::-moz-range-track {
  width: 100%;
  height: 100%;
  background: transparent;
}

input[type="range"].progress::-moz-range-thumb {
  width: 0;
  height: 0;
  opacity: 0;
}

input[type="range"].progress::-moz-range-progress{
  height: 2rem;
  border-radius: 4px;
}

input[type="range"]#hp::-webkit-slider-thumb {
  background: var(--hp-color);
}

input[type="range"]#attack::-webkit-slider-thumb {
  background: var(--attack-color);
}

input[type="range"]#hp::-moz-range-progress {
  background: var(--hp-color);
  height: 2rem;
  border-radius: 4px;
}

input[type="range"]#attack::-moz-range-progress {
  background: var(--attack-color);
  height: 2rem;
  border-radius: 4px;
}

.infoButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 10%;
  margin: 0 auto 1rem auto;
  
}

.infoButton button{
  color: #bbbbbb;
  cursor: pointer;
  background: transparent;
  padding: .7rem 1rem;
  border: none;
  font-size: 1em;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.08);
  border: .5px solid #ffffff2d;
  border-radius: 1rem;
}

.infoButton button:hover{
  background-color: #6c79dba1;
  transition: all .3s ease;
  border: .5px solid #e6e6e6;
  color: #fff;
}